.idea/
.vscode/
node_modules/
build/
dist/
tmp/
temp/
.env
.DS_Store
templates/output*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.ebextensions/.*
