commands:
  00_install_s3fs_fuse:
    command: yum -y install s3fs-fuse
  01_prepare_mount_folder_storage:
    command: mkdir -p /mnt/storage
  02_prepare_mount_folder_certificates:
    command: mkdir -p /mnt/certificates
  03_mount_bucket_storage:
    command: s3fs $(/opt/elasticbeanstalk/bin/get-config environment -k NODE_ENV)-garantia-segura-storage /mnt/storage -o iam_role=auto -o uid=996,umask=077,gid=994,allow_other -o nonempty
  04_mount_bucket_certificates:
    command: s3fs $(/opt/elasticbeanstalk/bin/get-config environment -k NODE_ENV)-garantia-segura-certificates /mnt/certificates -o iam_role=auto -o uid=996,umask=077,gid=994,allow_other -o nonempty
